body {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: "Epilogue";
}

header {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    gap: 1rem;
    margin: 3rem 0;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex; 
}

nav ul li:not(:last-of-type)::after {
    content: '|';
    padding: 0.5rem;
}

.shadow-btn {
    position: relative;
    display: inline-block;
}

.shadow-btn span:first-child {
   position: absolute;
   inset: 0;
   background-color: black;
   transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
   transform: translateX(0.25rem) translateY(0.25rem);
}

.shadow-btn:hover span:first-child {
    transform: translateX(0) translateY(0);
}

.shadow-btn span:last-of-type {
    position: relative;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    background-color: #eccf93;
    border: 0.125rem solid;
    color: black;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.divider {
    height: 0.5rem;
    width: 100%;
    background-color: #cccccc;   
}

#intro {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#top-half {
    height: 25rem;
    width: 100%;
    background-color: #f7e7c7;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#top-half h2 {
    padding-left: 3rem;
    font-size: 4rem;
    margin: 1rem 0;
}

#bottom-half {
    height: 25rem;
    width: 100%;
    background-color: #f0eeee;
    display: flex;
    flex-direction: column;
}

.job-profile {
    display: flex;
    gap: 1rem;
    padding-left: 3rem;
}

.job-profile h3 {
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: normal;
}

#intro img {
    width: 5%;
    height: 5%;
    height: auto;
}

#profile {
    margin: 4rem 0;
    display: flex;
    width: 100%;
}

#profile-card {
    display: flex;
    gap: 2rem;
}

#profile-card img {
    width: 20rem;
}

#profile-card-content {
    display: flex;
    flex-direction: column;
}

#profile-card-content h2 {
    margin: 1rem 0;
    font-size: 2rem;
}

#profile-card-content h3 {
    margin: 0.75rem 0;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

#profile-card-content a {
    color: black;
}

#portfolio {
    margin: 4rem 0 0 0;
    display: flex;
    width: 100%;
    flex-direction: column; 
}

#portfolio h2 {
    margin: 1rem 0;
    font-size: 2rem;
}

#portfolio h3 {
    margin: 0.75rem 0;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0;
    column-gap: 3rem;
    row-gap: 2rem;
}

#project-card {
    width: 20%;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: #ece1ca;
}

#project-card img {
    margin-bottom: 1rem;
    width: 100%;
}

#project-card h4 {
    margin: 1rem 0;
}

#project-card p {
    margin: 0;
}

#blog {
    margin: 4rem 0 0 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}

#blog h2 {
    margin: 1rem 0;
    font-size: 2rem;
}

#blog h3 {
    margin: 0.75rem 0;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

#blog .container {
    flex-direction: column;
}

#blog-card {
    width: 100%;
    display: flex;
    gap: 2rem;
}

#blog-card-content {
    display: flex;
    flex-direction: column;
}

#blog-card-content h4 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

#blog-card-content h5 {
    margin: 0 0 1rem 0;
    font-weight: lighter;
}

#blog-card-content p {
    margin: 0;
    font-weight: lighter;
}

#blog-card img {
    width: 20%;
    height: 20%;
    border-radius: 100%;
    margin-right: 1rem;
}

#blog .shadow-btn span:last-of-type {
    display: flex;
}

#blog a {
    text-decoration: none;
    color: black;
}

footer {
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact h1 {
    font-size: 3rem;
    margin: 3rem 0 0 0;
}

#get-in-touch {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
}

#get-in-touch h2 {
    margin: 2rem 0;
}

#get-in-touch svg {
     width: 1.5rem;
     height: 1.5rem;
}

#contact .container {
    width: 100%;
    justify-content: center;
}

.contact-card {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.75rem;
}

.contact-card img {
    width: 5rem;
}

#contact .shadow-btn span:last-of-type {
    max-width: 5rem;
    text-align: center;
}